
<a href="@Url.Action("GetFavoriteInfo", "Favourites")" style="text-decoration:
none; color: pink; font-weight: bold">
    <img src="~/Image/tim.png" style="width: 26px" /> Favourite (@ViewBag.TotalNumber)
</a>

