<a href="@Url.Action("GetCartInfo", "Cart")" style="text-decoration:
none; color: pink; font-weight: bold">
    <img src="~/Image/gio.jpg" style="width: 26px"/> Cart (@ViewBag.TotalNumber)
</a>

